*{
    margin: 0px;
}

body{
    background-color: rgb(25, 28, 32);
}

.searchBarDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBar{
    padding: 5px;
    width: 400px;
    height: 20px;
    background-color: rgb(138, 138, 173);
    border: none;
    font-size: 16px;
    outline: none;
    transition: all 0.5s;
    color: rgb(31, 31, 31);
}

.searchBar:focus{
    background-color: rgb(224, 225, 255);
}

.searchBar:hover{
    background-color: rgb(224, 225, 255);
}

.searchBarDiv:after{
    display: block;
    width: 410px;
    content: '';
    border-bottom: 4px solid rgb(138, 138, 173);
    transform: scaleX(0);
    transition: all 0.3s;
}

.searchBarDiv:hover:after{
    transform: scaleX(1);
}

.searchBar::placeholder{
    color: black;
}


.aButton{
    display: inline-block;
    text-decoration: none;
    color: rgb(205, 221, 255);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    font-size: 20px;
    transition: all 0.3s;
    cursor:pointer;
}

.aButton:hover{
    color: rgb(238, 242, 253);
}

.aButton:after{
    display: block;
    content: '';
    border-bottom: 2px solid rgb(211, 221, 255);
    transform: scaleX(0);
    transition: all 0.3s;
}

.aButton:hover:after{
    transform: scaleX(1);
}

/* --------------------INDEX-------------------- */

#indexHeader{
    margin-top: 10%;
    opacity: 0;
    transition: all 3s;
    display: flex;
    flex-direction: column;
}

#indexTitle{
    display: flex;
    align-self: center;
    font-family: Ephesis;
    color: rgb(205, 221, 255);
    font-size: 80px;
    text-align: center;
    cursor: default;
    margin-bottom: 30px;
    transition: all 0.3s;
}

#indexTitle:hover{
    color: rgb(217, 228, 253);
}

#indexSearchBarDiv{
    display: flex;
    align-self: center;
}

#indexHeader nav{
    margin-top: 30px;
    text-align: center;
}


/* --------------------POSTS-------------------- */

#postsHeader h1 a{
    font-family: Ephesis;
    font-size: 40px;
    text-decoration: none;
    color: rgb(205, 221, 255);
    margin-left: 30px;
    transition: all 0.3s;
}

#postsHeader h1 a:hover{
    color: rgb(217, 228, 253);
}

#postsHeader{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(56, 64, 77);
    width: 100%;
    z-index: 10;
    top: 0;
}

.profile{
    display: flex;
    align-items: center;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(205, 221, 255);
    font-size: 20px;
    cursor: pointer;
}

.profile.active{
    display: none;
}

.profile div{
    margin-right: 10px;
    margin-left: 10px;
}

.profile img{
    border-radius: 100%;
    height: 45px;
    border: 2px solid;
}

#profileMenu{
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 60px;
    width: 200px;
    background-color: rgb(56, 64, 77);
    border-radius: 10px;
    z-index: 99;
}

#profileMenu.active{
    display: flex;
}

#notLoggedIn{
    display: none;
    align-items: center;
    margin-right: 10px;
}

#notLoggedIn.active{
    display: flex;
}

#notLoggedIn div{
    margin-right: 10px;
}

.login-signup{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    background-color: rgb(56, 64, 77);
    z-index: 10;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%) scale(0);
}

.login-signup.active{
    transform: translate(-50%, -50%) scale(1)
}

#overlay{
    display: none;
    z-index: 9;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

#overlay.active{
    display: block;
}

.headerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerForm *{
    margin: 5px;
}

.headerForm label{
    color: rgb(205, 221, 255);
}

.headerForm input{
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    outline: none;
    border: none;
    background-color: rgb(138, 138, 173);
    transition: all 0.3s;
}

.headerForm input:hover{
    background-color: rgb(224, 225, 255);
}

.headerForm input:focus{
    background-color: rgb(224, 225, 255);
}


.content{
    display: flex;
    flex-direction: column;
}

.imageContent{
    display: flex;
    flex-direction: row;
}

.contentImages{
    margin: 80px 10px 0px 40px;
    display: flex;
    flex-wrap: wrap;
}

.imageSmall{
    margin: 5px;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(205, 221, 255);
    border-radius: 10px;
    transition: all 0.3s;
    overflow: hidden;
    max-width: 300px;
    max-height: 300px;
}

.imageSmall:hover{
    transform: scale(1.1,1.1);
}

.pagination{
    text-align: center;
    margin: 20px;
}

/* --------------------IMAGEVIEW-------------------- */

.imageView{
    width: 80%;
}

.slide{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.slide a {
    color: white;
    font-size: 40px;
    padding: 20px;
    cursor: pointer;
    margin: 20px;
}

.image{
    margin-top: 80px;
    margin-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
}

#imageInfo{
    background-color: rgb(46, 53, 65);  
}

#imageArtist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imageArtist h1{
    color: rgb(205, 221, 255);
    margin: 10px;
}

#imageArtist div{
    margin: 10px
}

#imageRatings{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(205, 221, 255);
}

#imageRatings div{
    margin: 10px;

}

#imageDesc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#desc{
    width: 50%;
    min-width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(205, 221, 255);
}

#imageComments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#commentCount{
    font-size: 20px;
    color: rgb(205, 221, 255);
}

.comments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment{
    background-color: rgb(71, 79, 92);  
    margin: 20px;
    padding: 10px;
    border-radius: 4px;
    width: 70%;
    color: rgb(205, 221, 255);
}

.commentProfile{
    display: flex;
}

.commentToggle{
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
}

.commentToggle.active{
    content: "+";
}

.commentText{
    margin: 10px;
}

.commentText.active{
    display:none;
}

.imageRecomended{
    background-color: rgb(62, 73, 87);
    width: 20%;
}

.imageRecomended h1{
    margin: 20px;
    color: rgb(205, 221, 255);
}

#recomended{
    margin: 10px;
}

.imageSmaller{
    margin: 2px;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(205, 221, 255);
    border-radius: 10px;
    transition: all 0.3s;
    overflow: hidden;
    max-width: 160px;
    max-height: 160px;
}

.imageSmaller:hover{
    transform: scale(1.1,1.1);
}



/* --------------------FOOTER-------------------- */
footer{
    background-color: rgb(35, 38, 43);
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: rgb(205, 221, 255);
}

#info{
    margin-left: 50px;
}

#info a{
    text-decoration: none;
    color: rgb(205, 221, 255);
}

#contact{
    margin-right: 50px;
}

#contact a{
    text-decoration: none;
    color: rgb(205, 221, 255);
}








@media screen and (max-width: 1000px) {
    header{
        flex-direction: column;
        padding: 5px;
    }

    #info{
        margin-left: 10px;
        margin-right: 10px;
    }
    #contact{
        margin-left: 10px;
        margin-right: 10px;
    }
    .content{
        margin-top: 200px;
    }
    .imageRecomended{
        display: none;
    }
    .imageView{
        width: 100%;
    }
}